.title
	margin-x auto
	margin-bottom 27px
	display block
	max-width 380px
	font-family exo20-thin
	font-size 32px
	font-weight 100
	font-style normal
	color #fff

	+above(720px)
		max-width 100%
		font-size 36px

@media (max-height: 1280px) and (max-width: 1080px)
	.title
		padding-top 20px