exo20-thin = 'Exo 2.0 Thin', sans-serif
trebuchet-ms = 'Trebuchet MS', sans-serif

@font-face
	font-family 'Exo 2.0 Thin'
	src local('Exo 2.0 Thin'),
		local('exo20-thin'),
		url('../fonts/exo20-thin.ttf') format('truetype')
	font-weight 100
	font-style normal
