exo20-thin = 'Exo 2 Thin', sans-serif
trebuchet-ms = 'Trebuchet MS', sans-serif

@font-face
		font-family 'Exo 2 Thin'
		src url('../fonts/exo20-thin.eot')
		src url('../fonts/exo20-thin.eot?#iefix') format('embedded-opentype'),
				url('../fonts/exo20-thin.woff2') format('woff2'),
				url('../fonts/exo20-thin.woff') format('woff'),
				url('../fonts/exo20-thin.ttf') format('truetype'),
				url('../fonts/exo20-thin.svg#exo_2thin') format('svg')
		font-weight 100
		font-style normal
