.center
	width 100%
	font-size 0
	text-align center

	+above(720px)
		position absolute
		top 50%
		margin-top -571px

	+above(1080px)
		margin-top -301px

@media (max-height: 1143px) and (max-width: 1080px)
	.center
		position relative
		top 0
		margin-top 0
