.weight
	padding-top 14px
	size(80px)
	font-family trebuchet-ms
	font-size 42px
	text-align center
	color #fff
	background-color $blue
	border-radius 50%

	&__count
		font-size 42px
		line-height 37px

	&__measure
		font-size 21px
